/********************************************
* reviewer's score, name, scoreborad
********************************************/
.score span {
    font-size: 8rem;
    font-weight: bold;
    /* scoreの色を金色にしようとすると最後一瞬文字が消える */
    /* background-image: linear-gradient(0deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%); */
    /* -webkit-background-clip: text; */
    /* color: transparent; */
    color: #ffce08 ;
}

.reviewer {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.score {
    position:relative;
    z-index:1;
    padding:10px;
    max-width: 500px;
    background: linear-gradient(0deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
    text-align:center;
}

    .score::before {
        position:absolute;
        top:2.5%;
        left: 2.5%;
        z-index:-1;
        box-sizing:border-box;
        border-radius:2em;
        padding:2px;
        width:95%;
        height:95%;
        background:rgb(0, 0, 0);
        background-clip:content-box;
        content:"";
    }


/********************************************
* presenter's score, name, scoreborad
********************************************/
.total-score span {
    font-size: 10rem;
    font-weight: bold;
    background-image: linear-gradient(0deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
    -webkit-background-clip: text;
    color: #ffce08 ;

}

.presenter {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 auto;
    color: rgb(255, 255, 255);

}

.total-score {
    position:relative;
    z-index:1;
    padding:10px;
    width: 700px;
    background: linear-gradient(0deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
    text-align:center;
    margin: 0 auto;

}

    .total-score::before {
        position:absolute;
        top:2.5%;
        left: 2.5%;
        z-index:-1;
        box-sizing:border-box;
        border-radius:2em;
        padding:2px;
        width:95%;
        height:95%;
        background:rgb(0, 0, 0);
        background-clip:content-box;
        content:"";
    }

/********************************************
* btn
********************************************/
a.btn-radius-solid {
    font-size: 2.5rem;
    border: 1px solid #ccc;
    background: #f1e767;
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
    background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
    background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
    -webkit-box-shadow: inset 1px 1px 1px #fff;
    box-shadow: inset 1px 1px 1px #fff;
  }

a.btn-radius-solid:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
    background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
    background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

/********************************************
* Now Loading
********************************************/
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height:100%;
    display: none;
    background: #212529;
}
.cv-drum {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drum {
    font-size: 10rem;
    font-family: "Font Awesome 5 Free";
    content: 'f569';
    font-weight: 900;
    color: #f5f5f53a;
}
.is-hide{
    display:none;
}